In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [3]:
dataset = pd.read_csv("TCS.csv")

In [4]:
dataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-10-14,3625.000000,3670.000000,3608.199951,3611.449951,3571.565674,6442299
1,2021-10-18,3603.449951,3652.699951,3601.449951,3647.149902,3606.871338,3590107
2,2021-10-19,3669.000000,3690.100098,3625.199951,3634.149902,3594.014893,3135441
3,2021-10-20,3612.000000,3630.000000,3578.300049,3608.850098,3568.994385,2933693
4,2021-10-21,3604.100098,3607.449951,3511.250000,3532.500000,3493.487549,4871211

In [5]:
dataset = dataset.drop(columns = "Date",axis = 1)

In [6]:
dataset.head()

          Open         High          Low        Close    Adj Close   Volume
0  3625.000000  3670.000000  3608.199951  3611.449951  3571.565674  6442299
1  3603.449951  3652.699951  3601.449951  3647.149902  3606.871338  3590107
2  3669.000000  3690.100098  3625.199951  3634.149902  3594.014893  3135441
3  3612.000000  3630.000000  3578.300049  3608.850098  3568.994385  2933693
4  3604.100098  3607.449951  3511.250000  3532.500000  3493.487549  4871211

In [7]:
x = dataset.drop(columns = ["Close","Adj Close"],axis =1)

In [8]:
y = dataset["Close"]

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 23)

In [11]:
sc = StandardScaler()

In [12]:
x_train = sc.fit_transform(x_train)

In [13]:
x_test = sc.transform(x_test)

In [14]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [15]:
y_pred = lr.predict(x_test)

In [16]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)*100

99.53632373113534

In [17]:
# import joblib
# joblib.dump(lr,"model_TCS.joblib")